{#
/**
 * @file
 * Theme override to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 */
#}
{%
    set classes = [
    'container-fluid',
    'block',
    'block-' ~ configuration.provider|clean_class,
    'block-' ~ plugin_id|clean_class,
    'block-simple-menu',
]
%}
{{ attach_library('lb_simple_menu/lb_simple_menu') }}
<div{{ attributes.addClass(classes).setAttribute('id', plugin_id|clean_class ~ configuration['block_revision_id']) }}>
    <div class="row">
        <div class="col-12 d-flex flex-column menu-header">
            {{ title_prefix }}
            {% if image_uri %}
              {% set image = is_svg ? file_url(image_uri) : file_url(image_uri|image_style('simple_menu')) %}
              <img src="{{ image }}" alt="{{ image_alt }}" class="w-100 h-100 mb-4 mx-auto" role="presentation">
            {% endif %}
            {% if label %}
                <h3{{ title_attributes.addClass('align-self-start') }}>{{ label }}</h3>
            {% endif %}
            {{ title_suffix }}
        </div>
        {% block content %}
            <div class="col-12">
                {% if content.field_lb_simple_menu_links %}
                    <ul class="lb-simple-menu">
                        {% for key, item in content.field_lb_simple_menu_links %}
                          {% if key|first != '#' %}
                            <li>
                              {{ item }}
                            </li>
                          {% endif %}
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
        {% endblock %}
    </div>
</div>
